{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical maps</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="{% static "leaflet/dist/leaflet.js" %}"></script>
    <link rel="stylesheet" href="{% static "leaflet/dist/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    {% block head %}

    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>