{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="form-row">
            {% for field in form %}
                <div class="form-group col">
                    <label for="{{ field.auto_id }}" class="col-form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md8">
            <div id="map" style="width: 1200px; height: 500px;">

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "map.js" %}"></script>
{% endblock %}