{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2">
            {% for field in form %}
                <div class="col-md-2">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
    <div class="col-md-offset-2 col-md8">
        <div id="map" style="width: 800px; height: 600px;">

        </div>
    </div>
</div>
{% endblock %}